
			<div class="local-sample-kflow">
				<div class="local-sample-kflow__kf-kf19717669e9596b3fb-0">これは、kflow モジュールのテストです。</div><div class="local-sample-kflow__kf-kf19717669e9596b3fb-1">{{ main }}<div>{% if image %}
<img src="{{ image | e }}" width="400" height="400" alt="" />
{% endif %}</div></div><p class="local-sample-kflow__kf-kf19717669e9596b3fb-2">This is a sample KFlow template.</p><div>{% for listItem in loop %}
<div><p>This is a loop item.</p><a href="{{ listItem.href }}">{{ listItem.label }}<img src="{{ listItem.image | e }}" width="400" height="400" alt="{{ listItem.label | e }}" /></a></div>
{% endfor  %}
</div>
			</div>
		